.calendar .calendar-grid__days-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: repeat(5, 56px) / repeat(7, minmax(20px, 78px));
  grid-auto-rows: 56px;
}

@media screen and (max-width: 425px) {
  .calendar .calendar-grid__days-list {
    margin-top: -10px;
    row-gap: 2px;
  }
}