.calendar-grid__days-list {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: grid !important;
  grid-template: repeat(5, 56px) / repeat(7, minmax(20px, 78px)) !important;
  grid-auto-rows: 56px !important;
}

@media screen and (max-width: 485px) {
  .calendar-grid__days-list {
    margin-top: -10px !important;
    row-gap: 2px !important;
  }
}