.calendar-header__year-for-mobile {
  display: none;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #a0a0a0;
}

@media screen and (max-width: 425px) {
  .calendar-header__year-for-mobile {
    display: block;
  }
}