.event__title {
  color: rgba(191, 21, 35, 1) !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 26px !important;
  line-height: 120% !important;
  margin: 0 !important;
  padding: 0 !important;
  grid-area: title !important;
  cursor: pointer !important;
}