.calendar-header__year-row {
  padding: 0 0 7px !important;
  display: block !important;
  text-align: center !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  letter-spacing: 0.18px !important;
}

@media screen and (max-width: 485px) {
  .calendar-header__year-row {
    display: none !important;
  }
}