.calendar-header__year-row {
  padding: 0 0 7px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.18px;
}

@media screen and (max-width: 425px) {
  .calendar-header__year-row {
    display: none;
  }
}