.events__title {
  font-family: "Roboto", sans-serif !important;
  font-size: 24px !important;
  line-height: 36px !important;
  font-weight: 500 !important;
  color: rgba(191, 21, 35, 1) !important;
  padding: 16px 8px !important;
  margin: 0 !important;
  max-width: 480px !important;
  box-sizing: border-box !important;
  display: none !important;
  border: 1px solid white !important;
  width: min-content !important;
  text-align: center !important;
}

@media screen and (min-width: 425px) {
  .events__title {
    width: 100% !important;
    padding: 16px 26px !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 29px !important;
    background-color: white !important;
    display: inline-block !important;
    text-align: left !important;
  }
}