.event__icons {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  grid-area: icons;
  flex-wrap: wrap;
}
.events_large .event__icons {
  flex-direction: column;
}
