.calendar-day_type_title:hover {
  border-color: #fff !important;
  cursor: auto !important;
}

@media screen and (max-width: 485px) {
  .calendar-day_type_title {
    font-size: 15px !important;
  }
}