.calendar .calendar-header__month {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.18px;
  color: #1b1b1b;
}

@media screen and (max-width: 480px) {
  .calendar .calendar-header__month {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .calendar .calendar-header__month {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}