.calendar {
  margin: auto !important;
  width: 100% !important;
  max-width: 600px !important;
  min-width: 320px !important;
  background-color: #fff !important;
  color: #1b1b1b !important;
  font-family: 'Roboto' !important;
  margin-bottom: 20px !important;
}