.calendar-grid__header {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: grid !important;
  grid-template: 56px / repeat(7, minmax(20px, 78px)) !important;
}