.calendar-header__month-container {
  width: 56.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .calendar-header__month-container {
    width: 100%;
  }
}