.calendar-header__month-container {
  width: 56.5% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

@media screen and (max-width: 485px) {
  .calendar-header__month-container {
    width: 100% !important;
  }
}