.calendar-day {
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px dashed #fff !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 120% !important;
  letter-spacing: 0.18px !important;
  position: relative !important;
}

.calendar-day:hover {
  border-color: #787878 !important;
  cursor: pointer !important;
}