.calendar .calendar-header__change-month-btn_type_previous {
  background: content-box url(../../../../images/left-arrow.svg);
  padding: 9.2px 16.5px 9.2px 14.7px;
}

@media screen and (max-width: 425px) {
  .calendar .calendar-header__change-month-btn_type_previous {
    background-image: url(../../../../images/left-arrow_mobile.svg);
    padding: 5px 9px 5px 8px;
  }
}