.calendar .calendar-header__change-month-btn_type_next {
  background: content-box url(../../../../images/right-arrow.svg);
  padding: 9.2px 14.7px 9.2px 16.5px;
}

@media screen and (max-width: 425px) {
  .calendar .calendar-header__change-month-btn_type_next {
    background-image: url(../../../../images/right-arrow_mobile.svg);
    padding: 5px 8px 5px 9px;
  }
}