.event-popup__actions {
  list-style: none !important;
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
  align-self: flex-end !important;
  gap: 16px !important;
}