.event-popup__button {
  width: 280px !important;
  padding: 14px !important;
  border: 1px solid rgba(191, 21, 35, 1) !important;
  color: rgba(191, 21, 35, 1) !important;
  background-color: white !important;
  font-family: Roboto !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-align: center !important;
  margin: 0 auto !important;
}