.event {
  padding: 20px 28px;
  box-sizing: border-box;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.09);
  background-color: white;
  color: #1b1b1b;
}

@media screen and (min-width: 425px) {
  .event {
    box-shadow: none;
    display: grid;
    grid-template-areas: "title icons" "details icons";
    grid-auto-rows: auto 1fr;
    padding: 0 26px;
    column-gap: 10px;
  }
}
