.event-popup__activities {
  list-style: none !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  margin: 52px 0 28px !important;
  padding: 0 !important;
}