.calendar-header__change-month-btn {
  width: 44px !important;
  height: 44px !important;
}

@media screen and (max-width: 485px) {
  .calendar-header__change-month-btn {
    width: 24px !important;
    height: 24px !important;
  }
}