.events__container {
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.09);
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 26px;
  max-width: 480px;
  box-sizing: border-box;
}
