.event-popup__text {
  font-family: Roboto !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  padding: 10px 0 0 !important;
  margin: 0 !important;
  cursor: pointer !important;

}