.calendar .calendar-day__events-wrap {
  position: absolute;
  top: 44px;
  width: 33%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 425px) {
  .calendar .calendar-day__events-wrap {
    top: 46px;
    width: 73%;
  }
}