.calendar-header__today-btn {
  height: fit-content;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.0018em;
  color: #0994c0;
}

@media screen and (max-width: 425px) {
  .calendar-header__today-btn {
    display: none;
  }
}