.calendar-header__today-btn {
  width: 21.75% !important;
  height: fit-content !important;
  font-family: 'Inter' !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  letter-spacing: 0.0018em !important;
  color: #0994c0 !important;
  text-align: left !important;
}

@media screen and (max-width: 485px) {
  .calendar-header__today-btn {
    display: none !important;
  }
}