.event__details {
  margin: 14px 0 0 !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  letter-spacing: 0.53px !important;
  list-style: none !important;
  display: flex !important;
  gap: 8px !important;
  flex-direction: column !important;
  grid-area: details !important;
  padding-right: 10px !important;
  max-width: 300px !important;
  cursor: pointer !important;

}