.event__details {
  margin: 14px 0 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.53px;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: column;
  grid-area: details;
  padding-right: 10px;
  max-width: 300px;
  cursor: pointer;

}
