.calendar-header__selected-period-row {
  padding: 8px 0;
  min-height: 21.6px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.18px;
  color: #bf1523;
}

@media screen and (max-width: 425px) {
  .calendar-header__selected-period-row {
    display: none;
  }
}