.event-popup__activity {
  display: flex !important;
  gap: 10px !important;
  font-family: Roboto !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  letter-spacing: 0.5px !important;
  padding: 5px 0 !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end !important;
  cursor: pointer !important;
}